MONGODB_USERNAME="username"
MONGODB_PASSWORD="password"
MONGODB_URI="uri"
MONGODB_NAME="dbname"

RABBITMQ_URL="url"

AMBIENTE='x'

# Render keep-alive
KEEP_ALIVE_URL='ping address'
KEEP_ALIVE_INTERVAL_MINUTES='ping interval'
